@font-face {
	font-family: rumbleBrave;
	src: url('../media/fonts/rumbleBrave.otf');
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	width: 100%;
	height: 100%;
	background-color: #081C19;
}

.navigationBar {
	overflow: hidden;
	display: flex;
	position: fixed;
	height: 5rem;
	width: 100%;
	background-color: #173940;
	align-items: center;
	color: #F7F7F7;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #000000;
}

.navigationBar div {
	height: 100%;
	width: auto;
	display: flex;
	font-size: 3rem;
	text-decoration: none;
	padding: 0 1rem;
	align-items: center;
	justify-content: center;
}

.navigationBar div:hover {
	background-color: #294560;
}

.navigationBar .youAreHere {
	background-color: #404A7D;
}

.navigationBar img {
	height: 4rem;
	padding: 0 5px;
}

.navigationBar img .user{
	
}